<div class="container">
  <div>
    <table class="table table-striped">
      <tbody>
        <div *ngFor="let excelSheet of downloadEvent">
          <tr>
            <th scope="row">File Name</th>
            <td>{{excelSheet.filename}}</td>
          </tr>
          <tr>
            <th scope="row">Available Columns</th>
            <td>{{excelSheet.coloumnHeadings}}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
  <div class="order-form">
    <form #myform="ngForm" (ngSubmit)="downloadByOrder(myform)" class="form form-order">

      <div class="form-field">
        <label class="set-order" for="order">Set Order</label>
        <textarea rows="3" name="column-order" id="order" class="form-textarea" placeholder="Col1,Col2,Col3,..." ngModel required></textarea>

      </div>
      <div class="form-field">
        <input type="submit" value="Download">
      </div>
    </form>
  </div>

</div>